@import '@/assets/commonVariable.scss';
.special-c {
    padding-bottom: 45px;
}
.special-item {
    width: 100%;
    .title-pic {
        width: 100%;
    }
    p {
        text-align: center;
        padding: 0;
    }
    .title {
        color: #333;
        font-size: 18px;
        margin: 17px 0;
    }
    .subtitle {
        margin: 12px 0;
        color: #999999;
    }
    .price {
        margin: 10px 0;
        color: $theme_colors;
    }
}